@page
@model S3_Security_System.Pages.Students.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.S3_Security_SystemUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.S3_Security_SystemUser.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.StudentFirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.StudentFirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.StudentLastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.StudentLastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.StudentDateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.StudentDateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.CurrentGrade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.CurrentGrade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.StudentAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.StudentAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.StudentCity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.StudentCity.CityName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.StudentProvince)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.StudentProvince.ProvinceName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.StudentZip)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.StudentZip)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.ParentName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.ParentName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.ParentEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.ParentEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.StudentNextOfKinContactName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.StudentNextOfKinContactName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Student.StudentNextOfKinContactNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Student.StudentNextOfKinContactNo)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Student?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
